@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf.eot') format('embedded-opentype'), url('../fonts/Lato-Black.ttf.otf') format('opentype'), url('../fonts/Lato-Black.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.otf') format('opentype'), url('../fonts/Lato-Bold.ttf.eot') format('embedded-opentype'), url('../fonts/Lato-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot') format('embedded-opentype'), url('../fonts/Lato-Light.otf') format('opentype'), url('../fonts/Lato-Light.woff') format('woff');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.otf') format('opentype'), url('../fonts/Lato-Regular.ttf.eot') format('embedded-opentype'), url('../fonts/Lato-Regular.woff') format('woff');
}
@font-face {
    font-family: 'BravoRG';
    src: url('../fonts/BravoRG.eot') format('embedded-opentype'), url('../fonts/BravoRG.otf') format('opentype'), url('../fonts/BravoRG.ttf') format('truetype'), url('../fonts/BravoRG.woff') format('woff');
}
@font-face {
    font-family: 'PTN57F.TTF';
    src: url('../fonts/PT_Sans-Narrow.eot') format('embedded-opentype'), url('../fonts/PTSans-Narrow.otf') format('opentype'), url('../fonts/PTSans-Narrow.ttf') format('truetype'), url('../fonts/PTSans-Narrow.woff') format('woff');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.eot') format('embedded-opentype'), url('../fonts/RobotoCondensed-Regular.otf') format('opentype'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular.woff') format('woff');
}